:root {
	--color-dark01: #ffffff;
	--color-dark02: #d5dbdb;
	--color-dark03: #abb8b8;
	--color-dark04: #829595;
	--color-dark05: #587272;
	--color-dark06: #2f4f4f;
	--color-dark07: #253f3f;
	--color-dark08: #1c2f2f;
	--color-dark09: #121f1f;
	--color-dark10: #090f0f;
	--color-dark11: #000000;

	--color-error: #e52b50;
}

.wrapper {
	position: absolute;
	width: 50%;
	height: 700px;
	left: 50%;
	padding: 2em;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-dark10);
	border: 0.04em solid var(--color-dark05);
	box-shadow: 0.8em 0.8em 1em var(--color-dark10);
	visibility: visible;
}

.wrapper_end {
	position: absolute;
	visibility: hidden;
}

.heading {
	width: 100%;
	text-align: center;
	color: var(--color-dark03);
	font-weight: 200;
	padding-bottom: 0.6em;
	border-bottom: 0.04em dotted var(--color-dark05);
}

.box_btns {
	width: 80%;
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn {
	width: 40%;
	padding: 0.6em;
	background: none;
	border: 0.04em solid var(--color-dark03);
	color: var(--color-dark03);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: var(--color-dark11);
}
