:root {
	--color-dark01: #ffffff;
	--color-dark02: #d5dbdb;
	--color-dark03: #abb8b8;
	--color-dark04: #829595;
	--color-dark05: #587272;
	--color-dark06: #2f4f4f;
	--color-dark07: #253f3f;
	--color-dark08: #1c2f2f;
	--color-dark09: #121f1f;
	--color-dark10: #090f0f;
	--color-dark11: #000000;

	--color-error: #e52b50;
}

.wrapper {
	width: 100%;
	height: 100vh;
	padding: 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.box_heading {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

.heading_step_one_active,
.heading_step_two_active,
.heading_step_three_active {
	width: 30%;
	text-align: center;
	color: var(--color-dark02);
	font-weight: 200;
	font-size: 1.6em;
}

.heading_step_one,
.heading_step_two,
.heading_step_three {
	width: 30%;
	text-align: center;
	color: var(--color-dark06);
	font-weight: 200;
	font-size: 1.6em;
}

.box_steps {
	position: relative;
	width: 100%;
	height: 560px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
