:root {
	--color-dark01: #ffffff;
	--color-dark02: #d5dbdb;
	--color-dark03: #abb8b8;
	--color-dark04: #829595;
	--color-dark05: #587272;
	--color-dark06: #2f4f4f;
	--color-dark07: #253f3f;
	--color-dark08: #1c2f2f;
	--color-dark09: #121f1f;
	--color-dark10: #090f0f;
	--color-dark11: #000000;

	--color-error: #e52b50;
}

.wrapper {
	width: 30%;
	height: 600px;
	padding: 2em;
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-dark05);
	box-shadow: 0.4em 0.4em 0.8em var(--color-dark10);
}

.form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.box_inputs {
	width: 100%;
	height: 30%;
	padding-bottom: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
